<h3>Corrélation de Pearson (corrélation linéaire)</h3>

<p>
  Cette métrique permet d’établir une corrélation entre deux vecteurs de la même longueur. Chaque élément d’un vecteur doit être relié à l’élément de même indice de l’autre vecteur. Une valeur de 1 signifie une corrélation parfaite et une valeur de -1 signifie une corrélation inversée. Une valeur de 0 signifie pas de corrélation du tout. D’autre métriques de mesure de la corrélation existent, par exemple la corrélation de Spearman et la covariance.
</p>
