<p-dataView #dv [value]="allSeqAvgStn" [paginator]="true" [rows]="5" paginatorPosition="both" filterBy="brand"
            [sortField]="sortField" [sortOrder]="sortOrder">
  
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
          <div class="ui-g-12 ui-md-4">
            <p-dropdown optionLabel="name" [options]="names" [(ngModel)]="sortKey" placeholder="ETERNA_R00_0000" (onChange)="onExpChange($event)" [autoWidth]="true" [style]="{'min-width':'15em'}"></p-dropdown>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th class="col-sm-6 col-12">
                  <h4>Moyenne des valeurs de <br> réactivité</h4>
                </th>
                <th class="col-sm-6 col-12">
                  <h4>Moyenne des valeurs de <br><i>Signal to noise</i></h4>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-sm-6 col-12">
                  <app-gauge-global [jsonFile$]="jsonFile$"></app-gauge-global>
                </td>
                <td class="col-sm-6 col-12">
                  <app-gauge-global-stn [jsonFile$]="jsonFile$"></app-gauge-global-stn>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="ui-sm-8 ui-sm-offset-2 ui-12">
        <h4>Diagramme circulaire </h4>
        <h5>Proportion de chacun des nucléotides de l'ensemble des ARN de l'expérience</h5>
        <app-histo-acug-obs [jsonFile$]="jsonFile$"></app-histo-acug-obs>
      </div>

      <div class="ui-g-12 ui-md-12 filter-container">
        <!--

          <div style="position:relative">
            <input type="search" pInputText placeholder="Search by ?" (keyup)="dv.filter($event.target.value)">
          </div>
        -->
      </div>
    </div>
  </p-header>
  <ng-template let-SeqAvgStn pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-10" style="text-align:center; word-break: break-all;">
        {{SeqAvgStn.seq}}
      </div>
      <div class="ui-g-12 ui-md-1 search-icon">
        <button pButton type="button" icon="fa fa-fw fa-search" (click)="selectSeqAvgStn($event, SeqAvgStn.seq,SeqAvgStn.reactivityAvg,SeqAvgStn.stn)"></button>
      </div>
    </div>
  </ng-template>
</p-dataView>

<p-dialog header="Séquence Détails" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" (onAfterHide)="onDialogHide()">
  <div class="ui-g-6 ui-md-12">
    <h4>Proportion des différents nucléotides</h4>
    <h5>Adénine (A), cytosine (c), uracile (u) et guanine (g)</h5>
    <app-histo-acug seq={{selectedSeq}}></app-histo-acug>
  </div>
  <div class="ui-g-8 ui-g-offset-2" *ngIf="selectedSeq">
    <div class="ui-g-6 ui-md-12">
      <table class="table">
        <thead>
          <tr>
            <th class="col-sm-6 col-12">
              <h4>Gauge de réactivité</h4>
            </th>
            <th class="col-sm-6 col-12">
              <h4>Gauge de <i>Signal to noise</i></h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="col-sm-6 col-12">
              <h5>Moyenne des réactivités de toutes les séquences</h5>
            </th>
            <td class="col-sm-6 col-12">
              <h5>Moyenne des <i>Signal to noise</i> de toutes les séquences</h5>
            </td>

          </tr>
          <tr>
            <td class="col-md-6 col-12">
              <app-gauge-local [gauge_value_Local]="selectedReactivityAvg"></app-gauge-local>
            </td>
            <td class="col-md-6 col-12">
              <app-gauge-local-stn [gauge_value_Local_stn]="selectedStn"></app-gauge-local-stn>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
      </div>
    </div>
  </div>
</p-dialog>


