<h4>Le rappel ou sensitivité</h4>

<p>
  C’est le nombre d’éléments bien prédit d’une classe divisée par le total des éléments de la classe. Un ratio de 1 signifie que tous les éléments de la classe ont été trouvés et bien prédits. Dans l’exemple d’un algorithme avec un seuil de risque au-dessus duquel il se prononce, il y a un compromis à faire entre le rappel et la précision. La solution la plus simple pour avoir un rappel de 1 est de prédire tous les éléments comme étant positifs. Cependant, la précision risque d’être moins grande.
</p>
