<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Pour plus d'information, <br>veuillez contacter : <a href="mailto:malric.philippe@gmail.com">malric.philippe@gmail.com</a></h5>
        <p class="grey-text text-lighten-4">Pour comprendre l'univers, il faut commencer par se comprendre soi-même.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Liens</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Lien 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Lien 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Lien 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Lien 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">Encore</a>
    </div>
  </div>
</footer>
