<input #textbox type="text" [(ngModel)]="collection" required>
<button (click)="click()">Update chart</button>

<div class="row">
  <div class="col-sm-12-lg-8"><app-nvd3 [options]="options1" [data]="data1"></app-nvd3></div>
  <div class="col-sm-12-lg-4 well">
    <p>Collection : {{collection}}</p>
    <p>Soft : RNA_sub_opt</p>
    <p>NCM : {{ncm1}}</p>
    <p>Discriminant : {{discriminant1}}</p>
  </div>
  <div class="col-sm-12-lg-8"></div>
</div>



<div class="row">
  <div class="col-sm-12-lg-8"><app-nvd3 [options]="options2" [data]="data2"></app-nvd3></div>
  <div class="col-sm-12-lg-4 well">
    <p>Collection : {{collection}}</p>
    <p>Soft : MCFlashFold</p>
    <p>NCM : {{ncm2}}</p>
    <p>Discriminant : {{discriminant2}}</p>
  </div>
  <div class="col-sm-12-lg-8"></div>
</div>

