<h5>
  Longueur des séquences
</h5>
<p>
  La longueur des séquences comprend la boucle qui sert de contrôle et la séquence qui sert à l’identification. La plus petite séquence comprend 51 nucléotides et la plus grande a 131 nucléotides.
</p>

<app-figure name="longueur_des_sequences"></app-figure>

<p>Figure 13. Distribution de la longueur des séquences de l’ensemble de données filtré. La moyenne de la longueur est de 103.98.</p>
<app-figure name="longue_et_courte_sequence"></app-figure>
<p>L’ARN le plus long (131 nt) à gauche (A) avec le plus petit (51 nt) à droite (B). Le mode couleur selon la réactivité est activé. Un nucléotide bleu est réactif et un nucléotide rouge l’est peu.</p>
