<h4>Régression logistique</h4>
<p>
  La régression logistique est un modèle d’apprentissage machine populaire dans lequel on tente de maximiser la vraisemblance d’un modèle logistique de la forme :
</p>
<app-figure name="bpm_math"></app-figure>
<p>
  « D » est la variable à prédire et les « X » sont les caractéristiques données en entrée. Les paramètres à déterminer sont « α » et les « β ». Plus le « β » d’une variable est élevé plus l’importance de la variable est grande dans le modèle. Lorsque la variable est catégorique elle est transformée en variable binaire au début de l’algorithme [43].
</p>
