<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <ul id="sideNavBar" class="collapsible popout" data-collapsible="accordion">
        <li>
          <div id="Entête" class="collapsible-header"><i class="material-icons">folder</i>Entête</div>
          <div id="pageP"class="collapsible-body active">
            <a mat-list-item href="/home#">Page de Présentation</a>
          </div>
          <div class="collapsible-body">
            <a mat-list-item href="/home#app-resume-fr">Résumé Français</a>
          </div>
          <div class="collapsible-body">
            <a mat-list-item href="/home#app-resume-en">Résumé Anglais</a>
          </div>
          <div class="collapsible-body">
            <a mat-list-item href="/home#app-sigle-et-abreviation">Sigles et Abréviations</a>
          </div>
          <div class="collapsible-body">
            <a mat-list-item href="/home#app-dedicasse">Dédicace</a>
          </div>
          <div class="collapsible-body">
            <a mat-list-item href="/home#app-remerciements">Remerciements</a>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">filter</i>Intro</div>
          <div class="collapsible-body"><a mat-list-item href="/home#app-begining">Intro début2</a></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_1</i>Chapitre 1</div>
          <div class="collapsible-body"><a mat-list-item href="/home#app-begining">Intro début2</a></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_2</i>Chapitre 2</div>
          <div class="collapsible-body"><div class="collapsible-body"><a mat-list-item href="/home#app-begining">Intro début2</a></div></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_3</i>Chapitre 3</div>
          <div class="collapsible-body"><div class="collapsible-body"><a mat-list-item href="/home#app-begining"></a></div></div>
        </li>
      </ul>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Mémoire</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>


