<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/home#page_presentation">Page de Présentation</a>
      <a mat-list-item href="/home#app-resume-fr">Résumé Français</a>
      <a mat-list-item href="/home#app-resume-en">Résumé Anglais</a>
      <a mat-list-item href="/home#app-sigle-et-abreviation">Sigles et Abréviations</a>
      <a mat-list-item href="/home#app-dedicasse">Dédicace</a>
      <a mat-list-item href="/home#app-remerciements">Remerciements</a>
      <ul class="collapsible expandable">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Introduction</div>
          <div class="collapsible-body"><a mat-list-item href="/home#app-begining">Intro début</a></div>
          <div class="collapsible-body"><a mat-list-item href="/home#app-begining">Intro début2</a></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">Chapitre 1</i>Second</div>
          <div class="collapsible-body"><a mat-list-item href="/home#app-begining">Intro début2</a></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">Chapitre 2</i>Third</div>
          <div class="collapsible-body"><div class="collapsible-body"><a mat-list-item href="/home#app-begining">Intro début2</a></div></div>
        </li>
      </ul>
      

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Mémoire</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>


