<div class=WordSection1>

  <h1 class=MsoNormal align=center style='text-align:center'>
    <span lang=FR-CA>
      Université
      de Montréal
    </span>
  </h1>

  <p class=MsoNormal><span lang=FR-CA>&nbsp;</span></p>

  <p class=MsoNormal><span lang=FR-CA>&nbsp;</span></p>

  <p class=MsoNormal><span lang=FR-CA>&nbsp;</span></p>

  <p class=MsoNormal align=center style='text-align:center'>
    <b>
      <span lang=FR-CA
            style='font-size:18.0pt;line-height:150%'>
        Prédiction et visualisation de la
        réactivité chimique des ARN
      </span>
    </b>
  </p>

  <p class=MsoNormal align=center style='text-align:center'>
    <b>
      <span lang=FR-CA
            style='font-size:16.0pt;line-height:150%'>
        Proposition d’un modèle basé sur la
        cohérence des motifs cycliques nucléotidiques avec les données de réactivité
        chimique.
      </span>
    </b>
  </p>

  <p class=MsoNormal><span lang=FR-CA>&nbsp;</span></p>

  <p class=MsoNormal><span lang=FR-CA>&nbsp;</span></p>

  <p class=MsoNormal align=center style='text-align:center'>
    <span lang=FR-CA>
      par Philippe
      Malric
    </span>
  </p>

  <p class=MsoNormal><span lang=FR-CA>&nbsp;</span></p>

  <p class=MsoNormal><span lang=FR-CA>&nbsp;</span></p>

  <p class=MsoNormal align=center style='text-align:center'>
    <span lang=FR-CA>
      Département
      de biochimie
    </span>
  </p>

  <p class=MsoNormal align=center style='text-align:center'>
    <span lang=FR-CA>
      Faculté
      de Médecine
    </span>
  </p>

  <p class=MsoNormal><span lang=FR-CA>&nbsp;</span></p>

  <p class=MsoNormal><span lang=FR-CA>&nbsp;</span></p>

  <p class=MsoNormal align=center style='text-align:center'>
    <span lang=FR-CA>
      Mémoire
      présenté<br>
      en vue de l’obtention du grade de Maître
    </span>
  </p>

  <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA>en Bio-informatique</span></p>

  <p class=MsoNormal><span lang=FR-CA>&nbsp;</span></p>

  <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA>&nbsp;</span></p>

  <p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA>&nbsp;</span></p>

  <p class=MsoNormal align=center style='text-align:center'>
    <span lang=FR-CA>
      Décembre
      2017
    </span>
  </p>

  <p class=MsoNormal align=center style='text-align:center'>
    <span lang=FR-CA>
      © Philippe
      Malric, 2017
    </span>
  </p>

</div>
