<div class="container-fluid">
  <div class="row">
    <h4 class="col-xs-12 col-md-8">RDV : RNA dynamic viewer</h4>
    <mat-form-field class="col-xs-12 col-md-4">
      <mat-select (selectionChange)="changeRNA($event.value)" placeholder="Choose your RNA">
        <mat-option *ngFor="let rna of rnas" [value]="rna">
          {{rna}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-sm-12-lg-3">
      <input #textbox type="text" [(ngModel)]="id" placeholder="Your DB collection here">
    </div>

    <div class="col-sm-12-lg-3">
      <input #textbox type="text" [(ngModel)]="exp" placeholder="Your experience here">
    </div>
    <div class="col-sm-12-lg-3">
      <input #textbox type="text" [(ngModel)]="id" placeholder="Your RNA_id here">
    </div>
    <div class="col-sm-12-lg-3">
      <button (click)="click_api()">Request DB</button>
    </div>
  </div>
  <div class="d3-chart" #chart></div>
  <div class="row">
    <input #textbox type="text" [(ngModel)]="rna" placeholder="file without .json">
    <button (click)="click()">Load from file</button>
  </div>

  <!--
      <svg id="ss_svg" width=100% height="1000px"></svg>
       <svg id="svgStat" width=100% height="100px"></svg>



      <div id="hiDiv"> </div>
      <div id="lowDiv"></div>


  -->


</div>
