<h2>
  Remerciements
</h2>
<p>
  Mes remerciements vont à me parents, mes frères, mon directeur de recherche, Dr François Major et aux 4 professeurs qui ont accepté d'être membre de mon jury : Gertraud Burger, Pascale Legault, Sylvie Hamel et Sergei Chteinberg. De plus, je tiens à remercier mes collègues de laboratoires, en particulier, Mathieu, Gabriel, Olivier, Zohra, Jordan, Roqaya, Blandine, Albert, Thomas, Nathanael, Nicolas, Marc Frédéric, Paul, Maria, Mosen et Frank. De plus, je veux souligner l’aide que Patrick Gendron m’a apportée avec le serveur. Élaine Meunier, la coordonnatrice des étudiants de bio-informatique, alias notre 2e maman, m’a aussi beaucoup aidé. À vous tous, merci beaucoup!
</p>
