<p>
  D’un point de vue chimique, l’ARN est un polymère de ribonucléotides. Il est composé dans la nature de 4 ribonucléotides communs et de plusieurs ribonucléotides modifiés. Les 4 bases communes de l’ARN sont l’adénine, la cytosine, l’uracile et la guanine. L’image en A de la figure 2 provient de [24] et l’image en B de la même figure provient de [25].
  Un nucléotide est toujours composé de 3 parties, voir figure 2 :
  1.	Le groupement phosphate
  2.	Le ribose
  3.	La base azotée
</p>

<app-figure name="nucleotide"></app-figure>

Figure 2. A) Représentation d’un nucléotide, l’adénosine monophosphate (AMP). Le cercle rouge, le pentagone bleu et le carré vert représentent le groupement phosphate, le ribose et la base azotée, respectivement. Cette image a été modifié de l’article : Structural analysis of nucleic acid aptamers . Current opinion in chemical biology, 1997. 1: p. 32-46, écrit par Patel, D.J. B) image 3D de A, avec en plus un groupe phosphate sur le carbone en 3’ du ribose. Source : PubChem3D.
1.5.1.1 Le groupement phosphate
En ne comptant pas les atomes d’hydrogène, un groupement phosphate est composé de 5 atomes. 4 atomes d’oxygène et un de phosphore. Chaque groupement phosphate donne une charge négative à l’ARN.
<app-figure name="phosphate"></app-figure>

Figure 3. Un groupement phosphate en 3D. L’atome de phosphore, en vert, est au centre des atomes d’oxygène rouges. Les hydrogènes sont en blancs. Source : PubChem3D.
1.5.1.2 Le ribose
Le ribose est un pentose, un sucre composé de 20 atomes dans sa forme libre. Il a toujours 5 atomes de carbone. À l’état libre, il a 5 atomes d’oxygène et lorsqu’il est dans l’ARN, avec sa base et ses deux phosphates, il a 2 atomes d’oxygène complètement à lui et 2 oxygènes qu’il partage avec les deux groupes phosphate liés au carbone 3’ et 5’. Dans la figure ci-dessous, on observe un beta-D-ribose. Son image miroir, la forme « L » n’est pas présente dans la nature.
<app-figure name="sucre"></app-figure>

Figure 4. Représentation en balles et bâtons (balls and sticks) du beta-D-ribose. Dans le polymère qu’est l’ARN, les groupes phosphate s’attachent aux carbones 3 et 5 du ribose. Le carbone 1, en beta, est lié à la base azotée. Les oxygènes sont rouge, les carbones gris et les hydrogènes blancs. Cette image est disponible sur https://commons.wikimedia.org/, elle a été produite par, Marina Vladivostok.  
1.5.1.3 Les bases azotées
Les images suivantes viennent de Wikipédia, les atomes bleu, rouge, gris et blanc sont des azotes, des oxygènes, des carbones et des hydrogènes respectivement. La flèche rouge est le point d’attache du ribose. Comme mentionné plus haut, les ribonucléotides ont 4 représentants communs :
<app-figure name="BasesAzotées"></app-figure>
Figure 5. A) L’adénine est une base azotée de la famille des purines. Son symbole est le A. B) La guanine est aussi une base azotée de la famille des purines. Son symbole est le G. C) La cytosine est une base azotée de la famille des pyrimidines. Son symbole est le C. D) Tout comme la cytosine, l’uracile est une base azotée de la famille des pyrimidines. Son symbole est le U.


