<p>
  La « RNA mapping data base » est une base de données des expériences de sondages chimiques de l’ARN. Elle contient plusieurs types d’expériences. Certaines sont faites sur des ARN provenant de cellules vivantes et d’autres sont faites sur des ARN synthétisés en laboratoire. Elle fournit les séquences d’ARN avec une valeur associée aux nucléotides donnant la mesure de leurs réactivités. Les données utilisées dans ce mémoire sont normalisées sur une séquence formant une boucle ajoutée en 3`. Cette boucle a une réactivité connue et constante.
  Lorsque la valeur de réactivité chimique est basse, cela signifie une absence de réactivité et une valeur haute signifie une réactivité élevée.
  J’ai classé les nucléotides en deux groupes, les nucléotides qui réagissent peu, les « Low » et ceux réagissant fortement les « Hi ». Il y a une zone de réactivité qui n’est pas considérée, elle correspond aux nucléotides qui sont entre le « Low » et le « Hi ».
  La RMDB contient 3 catégories d’expériences :
  1.	Des expériences publiées ou provenant du laboratoire du Dr Das.
  2.	Des expériences utiles aux puzzles sur l’ARN (RNA puzzles).
  3.	Des expériences reliées à Eterna.
  Mes analyses ont été faites sur les données reliées à Eterna.
</p>

