
<div class="container-fluid">
  <!--
  <app-nvd3-scatter [collection]="collection1" soft="mcff"></app-nvd3-scatter>
  <app-nvd3-scatter [collection]="collection2" soft="mcff"></app-nvd3-scatter>
  <app-nvd3-scatter [collection]="collection1" soft="so"></app-nvd3-scatter>
  <app-nvd3-scatter [collection]="collection2" soft="so"></app-nvd3-scatter>
  -->

  <div *ngIf="!devMode">
    <p>OneEXPatAtime_Filter_ETERNA_R00_0002_noPred__A_0_5_S_0_5_stn_0_5_ed_0_5_stat</p>
    <app-nvd3-scatter></app-nvd3-scatter>
  </div>


  <div *ngIf="devMode">
    <p>OneEXPatAtime_Filter_ETERNA_R00_0002_noPred__A_0_5_S_0_5_stn_0_5_ed_0_5_stat</p>use rdv

    <app-nvd3-scatter ></app-nvd3-scatter>
   
  </div>


</div>
