
<div class="container-fluid">
  <!--
  <app-nvd3-scatter [collection]="collection1" soft="mcff"></app-nvd3-scatter>
  <app-nvd3-scatter [collection]="collection2" soft="mcff"></app-nvd3-scatter>
  <app-nvd3-scatter [collection]="collection1" soft="so"></app-nvd3-scatter>
  <app-nvd3-scatter [collection]="collection2" soft="so"></app-nvd3-scatter>
  -->

  <app-nvd3-scatter [collection]="collection4" soft="so"></app-nvd3-scatter>
  <app-nvd3-scatter [collection]="collection4" soft="mcff"></app-nvd3-scatter>

  <hr />
  <app-nvd3-scatter [collection]="collection5" soft="so"></app-nvd3-scatter>
  <app-nvd3-scatter [collection]="collection5" soft="mcff"></app-nvd3-scatter>


  <hr />
  <app-nvd3-scatter [collection]="collection6" soft="so"></app-nvd3-scatter>
  <app-nvd3-scatter [collection]="collection6" soft="mcff"></app-nvd3-scatter>

</div>
