<p>
  SHAPE
  Une des méthodes les plus utilisées se nomme SHAPE pour « Selective 2′ Hydroxyl Acylation analyzed by Primer Extension ». Cette méthode est composée de 3 réactifs : le « 1-methyl-7-nitroisatoic anhydride » (1m7), le « 1-ethyl-6-nitroisatoic anhydride » (1m6) et le « N-methyl isatoic anhydride » (NMIA). Les ARN analysés dans ce mémoire ont été sondés avec le 1M7.
  1M7
  La figure 7 montre les réactifs et les produits de la réaction chimique entre le 1M7 et une adénine. Une molécule de dioxyde de carbone est créée lors de la réaction. C’est le groupement hydroxyle du carbone 2 qui réagit avec le 1M7. La sélectivité et le mécanisme de cette réaction ne sont pas complètement compris [37]. Récemment, une équipe à montrer à l’aide de la dynamique moléculaire que la conformation locale du nucléotide et spécialement de son sucre est importante dans le mécanisme [38].
</p>
<figure name ="mecanisme_1m7"></figure>
<p>
  Figure 7. Réaction chimique du 1M7 avec le 2’OH du sucre d’un nucléotide. Cette image provient du wiki d’Eterna, un jeu vidéo consacré à la structure des ARN : http://eternawiki.org/wiki/index.php5/1M7. Elle a été créée par Omei.
</p>
