<p-accordion (onClose)="onTabClose($event)" (onOpen)="onTabOpen($event)">
  <p-accordionTab>
    <p-header>
      Sigles&Abvr.
    </p-header>
    <app-sigle-et-abreviation id="app-sigle-et-abreviation" class="section scrollspy myjustify"></app-sigle-et-abreviation>
  </p-accordionTab>
  <p-accordionTab>
    <p-header>
      Dédicace
    </p-header>
    <app-dedicasse id="app-dedicasse" class="section scrollspy myjustify"></app-dedicasse>
  </p-accordionTab>
  <p-accordionTab>
    <p-header>
      Remerciement
    </p-header>
    <app-remerciements id="app-remerciements" class="section scrollspy myjustify"></app-remerciements>
  </p-accordionTab>
  <p-accordionTab>
    <p-header>
      Avertissement
    </p-header>
    <app-avertissement id="app-avertissement" class="section scrollspy myjustify"></app-avertissement>
  </p-accordionTab>
  <p-accordionTab>
    <p-header>
      Mise en context
    </p-header>
    <app-contexte id="app-context" class="section scrollspy myjustify"></app-contexte>
  </p-accordionTab>
  <p-accordionTab>
    <p-header>
      Pourquoi étudier la structure de l'ARN
    </p-header>
    <app-pourquoi-etudier-l-arn id="app-pourquoi-etudier-l-arn_body"></app-pourquoi-etudier-l-arn>
  </p-accordionTab>
  
</p-accordion>
