<h5>Combinaison des deux modèles</h5>
<p>
  Comparaison des valeurs des métriques d’évaluation des algorithmes d’apprentissage machine dans la tâche de prédire la réactivité chimique discrétisée d’un nt. à partir de son état de pairage et du score de RNASS
</p>
<app-figure name="tab_metrique_classifieurs"></app-figure>

<p>
  Le tableau X expose les valeurs de quelques métriques expliquées dans l’introduction. Cinq classifieurs ont été entrainés et évalués avec le logiciel Orange [43]. On constate que l’algorithme des « Random forest », « Adaboost » (qui est un arbre de décision « boosté ») et le classifieur bayésien naïf performent bien dans au moins une des mesures. Les meilleures performances sont mises en évidence par la couleur jaune de leur case. Le F1 Score, la précision et le rappel sont calculés par rapport à la classe des nt. réactifs. Les nucléotides mal classés et leur adresse web sont disponibles dans le fichier : misclassified.csv, plus de 75 000 nucléotides distincts si retrouve.
</p>
