<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #2e0051;">
  <img src="/assets/images/bootstrap.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
  <a class="navbar-brand" routerLink="/home">RNA Dynamic Viewer</a>
  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Power</button>
    <button mat-menu-item>System settings</button>
  </mat-menu>

  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Shut down</button>
    <button mat-menu-item>Restart</button>
    <button mat-menu-item>Hibernate</button>
  </mat-menu>


  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Acceuil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/doc" routerLinkActive="active">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewer" routerLinkActive="active">RDV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ncm" routerLinkActive="active">NCM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/test" routerLinkActive="active">test</a>
      </li>
    </ul>
  </div>

  <button mat-fab class="custom-button app-fab--absolute" color="primary" aria-label="sideBar"> <span class="mdc-fab__icon material-icons">favorite</span></button>

  <button color="primary" mat-icon-button [matMenuTriggerFor]="rootMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</nav>

