.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
  background-color: #2e0051;
  line-height: 1.42857143 !important; /* this for line in desktop mode */
  z-index:1;
}

img {
  border-radius: 7px;
  margin: 4px 4px 4px 4px;
}
