<h4>Mongodb</h4>
<p>
  MongoDb est une base de données non relationnelle (BDNR). À la différence des bases de données relationnelles (BDR), les BDNR peuvent contenir des structures de données en forme d’arbre. Chaque document ajouté à la base de données à un identifiant unique. Comme dans la plupart des BDR, quatre commandes de base permettent d’interagir avec la base de données : « insert, remove, update et find ».
  On doit créer la base de données en lui donnant un nom. À l’intérieur de celle-ci se trouvent des collections, c’est dans ces contenants que sont placées les données. Chaque collection est indépendante. Pour accélérer la recherche de la valeur d’un des champs, on « index » ce champ avec la commande createIndex. MongoDB m’a permis de compiler les MCN comme vous le lirez dans le chapitre 1.
</p>
