<p>
  Les méthodes utilisées dans mon projet de recherches touchent plusieurs champs d’expertise. Pour faire l’analyse de la réactivité des nt., j’ai dû créer des algorithmes, bâtir des bases de données performantes et utiliser un serveur fourni par mon laboratoire de recherche. Une solide base en informatique a donc été nécessaire. Finalement, j’ai dû faire preuve de curiosité et de persévérance tout au long de l’écriture de ce mémoire.
  L’univers de la biologie moléculaire est très vaste et c’est pourquoi pendant toute ma maîtrise, j’ai tenté de garder les choses simples. J’ai voulu combiner plusieurs approches en un tout cohérent et facile d’utilisation.
  Les méthodes à haut débit comme SHAPE-seq permettent de tester beaucoup d’hypothèses et les logiciels libres comme MCFlashfold et RNAsubopt peuvent être amélioré et utilisé de plusieurs façons. Ces fonctionnalités en font des outils scientifiques vraiment précieux.

</p>
