
<ol>
  <li>
    <div class="row">
      <img class="col-sm-1 col-md-2 col-lg-3 col-lg-offset-1" src="/assets/images/icon_Az_1.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      <p class="col-sm-10 col-md-9 col-lg-8">Les données sont dans cet élément. 2 116 180 nt. sont considérés. Ils ont une valeur de réactivité haute (>1) ou basse (<0,5).</p>
    </div>
  </li>
  <li>
    <div class="row">
      <img class="col-sm-1 col-md-2 col-lg-3 col-lg-offset-1" src="/assets/images/icon_Az_2.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      <p class="col-sm-10 col-md-9 col-lg-8">On configure les métadonnées pour que l’algorithme d’apprentissage sache sur quelles caractéristiques apprendre et quelle caractéristique prédire.</p>
    </div>
  </li>
  <li>
    <div class="row">
      <img class="col-sm-1 col-md-2 col-lg-3 col-lg-offset-1" src="/assets/images/icon_Az_3.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      <p class="col-sm-10 col-md-9 col-lg-8">On choisit le modèle d’apprentissage et on lui donne les paramètres voulus. Dans le présent cas, les paramètres sont ceux d’origines.</p>
    </div>
  </li>
  <li>
    <div class="row">
      <img class="col-sm-1 col-md-2 col-lg-3 col-lg-offset-1" src="/assets/images/icon_Az_4.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      <p class="col-sm-10 col-md-9 col-lg-8">On sépare les données pour avoir un ensemble d’entrainement et un ensemble « test ». Ici, on a séparé en deux l’ensemble de départ.</p>
    </div>
  </li>
  <li>
    <div class="row">
      <img class="col-sm-1 col-md-2 col-lg-3 col-lg-offset-1" src="/assets/images/icon_Az_5.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      <p class="col-sm-10 col-md-9 col-lg-8">On entraine le modèle.</p>
    </div>
  </li>
  <li>
    <div class="row">
      <img class="col-sm-1 col-md-2 col-lg-3 col-lg-offset-1" src="/assets/images/icon_Az_6.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      <p class="col-sm-10 col-md-9 col-lg-8">On attribue un score avec l’ensemble « test ».</p>
    </div>
  </li>
  <li>
    <div class="row">
      <img class="col-sm-1 col-md-2 col-lg-3 col-lg-offset-1" src="/assets/images/icon_Az_7.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      <p class="col-sm-10 col-md-9 col-lg-8">On l’évalue. Dans cette étape on calcul les performances avec les métriques expliquées dans l’introduction. </p>
    </div>
  </li>
</ol>

<app-figure name="shema_de_learning"></app-figure>
<p>
  Protocole d’apprentissage machine graphique, partant des données brutes jusqu’à leur analyse. La plateforme Azure permet d’entrainer un modèle en effectuant de la programmation graphique. Si on ne prend pas en compte le bloc « summarise data », deux chemins partent des données brutes. À gauche, le modèle est entrainé sur les prédictions de RNASS et à droite sur l’état pairé ou non des nt. Dans les deux cas une machine à vecteur de support a été utilisée, bien que pour la caractéristique : état pairé ou non, les valeurs de vrai « Hi », faux « Hi », de vrai « Low » et faux « Low » peuvent être directement obtenues. Le dernier bloc, « evaluate model », rassemble les données pour créer des graphiques (figures 26 et 27), tels que la courbe ROC et la précision en fonction du rappel.
</p>
