<p-dataView #dv [value]="ncms$|async" [paginator]="true" [rows]="4" paginatorPosition="both" filterBy="brand"
            [sortField]="sortField" [sortOrder]="sortOrder">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-12">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Trier par" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input #textbox type="text" [(ngModel)]="collection" placeholder="Your DB collection here">
      </div>
    </div>
    <div class="row">
      <button (click)="click()">Load from file</button>
    </div>
  </p-header>
  <ng-template let-ncm pTemplate="listItem">
    <div class="row" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="col-12  col-md-8" style="text-align:center">
        <app-graph-layout [_id]="ncm._id" [score]="ncm.scoreMoy" [items]="ncm.items"> </app-graph-layout>
      </div>
      <div class="col-12 col-md-4 ncm-details">
        <table>
          <tr>
            <th>Caractéristique</th>
            <th>Valeur</th>
          </tr>
          <tr>
            <td>Id</td>
            <td>{{ncm._id}}</td>
          </tr>
          <tr>
            <td>Écart type</td>
            <td>{{ncm.stdDev}}</td>
          </tr>
          <tr>
            <td>Score moyen</td>
            <td>{{ncm.scoreMoy}}</td>
          </tr>
          <tr>
            <td>Nombre d'occurence</td>
            <td>{{ncm.count}}</td>
          </tr>
        </table>
      </div>
      <div class="row" style="padding: 2em;">
        <p>RNA_Hi_stn_seuil_1_5__Filter__0_a_90__noPred__A_0_5_S_5_0_stn_1_5_ed_5_0</p>
        <!--
  <div class="ui-6 search-icon">
    <p-button label="Détails" icon="fa fa-fw fa-search" (click)=""></p-button>
  </div>
      -->
      </div>
     
      
    </div>
    
  </ng-template>
  <ng-template let-ncm pTemplate="gridItem">
    <div style="padding:.5em" class="ui-12 ui-md-6">
      <p-panel [header]="ncm._id" [style]="{'text-align':'center'}">
        <app-graph-layout [_id]="ncm._id" [score]="ncm.scoreMoy" [items]="ncm.items"> </app-graph-layout>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>

<p-dialog header="NCM Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="400" (onAfterHide)="onDialogHide()">
  <div class="ui-g" *ngIf="selectedNcm">
    <div class="ui-g-12" style="text-align:center">
      <app-graph-layout [_id]="selectedNcm._id" [score]="selectedNcm.scoreMoy" [items] ="ncm.items"> </app-graph-layout>
    </div>
    <div class="ui-g-4">Id: </div>
    <div class="ui-g-8">{{selectedNcm._id}}</div>

    <div class="ui-g-4">Écart type: </div>
    <div class="ui-g-8">{{selectedNcm.stdDev}}</div>

    <div class="ui-g-4">Score moyen: </div>
    <div class="ui-g-8">{{selectedNcm.scoreMoy}}</div>

    <div class="ui-g-4">Nombre d'occurence: </div>
    <div class="ui-g-8">{{selectedNcm.count}}</div>
  </div>
</p-dialog>
