<div class="marginTop">
  <div class="columnify container" contents>
    <div class="row">
      <ul class="col s12 l10 collapsible">
        <li>
          <div id="page_presentation" contentsSection="page_presentation" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            <a href="page_presentation" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">
              Présentation
            </a>
            <span class="badge">4</span>
          </div>
          <div class="collapsible-body"><app-page-presentation id="page_presentation_body" class="section scrollspy"></app-page-presentation></div>
        </li>
        <li>
          <div id="resume-abstract" contentsSection="resume-abstract" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            <a href="resume-abstract" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">
              Résumé/abstract
            </a>
            <span class="badge">4</span>
          </div>
          <div class="collapsible-body"><app-resume-abstract id="resume-abstract_body" class="section scrollspy"></app-resume-abstract></div>
        </li>

        <li>
          <div id="avant-propos" contentsSection="avant-propos" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            <a href="avant-propos" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">
              Avant-propos
            </a>
            <span class="badge">4</span>
          </div>
          <div class="collapsible-body"><app-avant-propos id="avant-propos_body" class="section scrollspy"></app-avant-propos></div>
        </li>
        <li>
          <div id="begining" contentsSection="begining" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            <a href="begining" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">
              Introduction
            </a>

            <span class="badge">4</span>
          </div>
          <div class="collapsible-body"><app-begining id="app-begining_body" class="section scrollspy myjustify"></app-begining></div>
        </li>
        <li>
          <div id="chapitre1-rnass" contentsSection="chapitre1-rnass" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            <a href="chapitre1-rnass" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">
              Chapitre 1 | RNASS
            </a>
            <span class="badge">4</span>
          </div>
          <div class="collapsible-body"><app-chapitre1-rnass id="app-chapitre1-rnass_body"></app-chapitre1-rnass></div>
        </li>
        <li>
          <div id="chapitre2-rdv" contentsSection="chapitre2-rdv" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            <a href="chapitre1-rnass" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">
              Chapitre 2 | RDV
            </a>
            <span class="badge">4</span>
          </div>
          <div class="collapsible-body"><app-chapitre2-rdv id="app-chapitre2-rdv_body"></app-chapitre2-rdv></div>
 
        </li>
        <li>
          <div id="chapitre3-coherence" contentsSection="chapitre3-coherence" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            <a href="home#figure" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">
              Chapitre 3 | Apprentissage
            </a>

            <span class="badge">4</span>
          </div>
          <div class="collapsible-body"><app-chapitre3-coherence></app-chapitre3-coherence></div>
        </li>
        <li>
          <div id="figure" contentsSection="figure" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            <a href="home#figure" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">
              jpg
            </a>

            <span class="badge">4</span>
          </div>
          <div class="collapsible-body"><app-figure name="phosphate"></app-figure></div>
        </li>

      </ul>
      <div class="divider"></div>

      <div class="col l2 hide-on-small-only">
        <ul class="contents-table tdm" contentsTable>
          <li><a href="#page_presentation" (click)="buttonClick('page_presentation')" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">Page de présentation</a></li>
          <li><a href="#resume-abstract" (click)="buttonClick('resume-abstract')" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">Résumé/abstract</a></li>
          <li><a href="#avant-propos" (click)="buttonClick('avant-propos')" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">Avant-propos</a></li>
          <li><a href="#begining" (click)="buttonClick('begining')" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">Introduction</a></li>
          <li><a href="#chapitre1-rnass" (click)="buttonClick('chapitre1-rnass')" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">Chapitre1 | RNASS</a></li>
          <li><a href="#chapitre2-rdv" (click)="buttonClick('chapitre2-RDV')" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">Chapitre2 | RDV</a></li>
          <li><a href="#chapitre3-coherence" (click)="buttonClick('chapitre3-coherence')" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">Chapitre 3 | Pouvoir discriminant des MCN</a></li>
          <li><a href="#figure" (click)="buttonClick('resume-abstract')" contentsLink pageScroll (pageScrollFinish)="doSmth($event)">Figure</a></li>
          <li><a href="javascript:topFunction()">Top</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>


