
<p-sidebar class="show-on-small hide-on-med-and-up" [(visible)]="visibleSidebar1" [baseZIndex]="10000" position="right">
  <h4 style="font-weight:normal">Table des matières</h4>
  <div>
    <h5 (click)="buttonClick('page_presentation')">Présentation</h5>
  </div>
  <div>
    <h5 (click)="buttonClick('app-avertissement')">Avertissement</h5>
  </div>
  <div>
    <h5 (click)="buttonClick('app-context')">Context</h5>
  </div>
  <div>
    <h5 (click)="buttonClick('app-historique')">Historique</h5>
  </div>
  <div>
    <h5 (click)="buttonClick('app-pourquoi-etudier-l-arn')">Pourquoi</h5>
  </div>
  <div>
    <h5 (click)="buttonClick('app-definitions')">Definitions</h5>
  </div>
</p-sidebar>
<button mat-fab class="app-fab--absolute show-on-small hide-on-med-and-up" color="primary" (click)="visibleSidebar1 = true" aria-label="sideBar"> <span class="mdc-fab__icon material-icons">favorite</span></button>

<div class="columnify container" contents >
    <div class="row">
      <ul class="col s12 l10 collapsible">
        <li>
          <div id="page_presentation" contentsSection="page_presentation" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            <a href="home#page_presentation" >
              Présentation
            </a>
            <span class="badge">4</span>
            </div>
          <div class="collapsible-body"><app-page-presentation id="page_presentation_body" class="section scrollspy"></app-page-presentation></div>
        </li>
        <li>
          <div id="resume-abstract" contentsSection="resume-abstract" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            <a href="home#resume-abstract" >
              Résumé/abstract
            </a> 
            <span class="badge">4</span>
          </div>
          <div class="collapsible-body"><app-resume-abstract id="resume-abstract_body" class="section scrollspy"></app-resume-abstract></div>
        </li>

        <li>
          <div id="avant-propos" contentsSection="avant-propos" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            Avant-propos
            <span class="badge">4</span>
          </div>
          <div class="collapsible-body"><app-avant-propos id="avant-propos_body" class="section scrollspy"></app-avant-propos></div>
        </li>
        <li>
          <div id="begining" contentsSection="begining" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            Introduction
            <span class="badge">4</span>
          </div>
          <div class="collapsible-body"><app-begining id="app-begining_body" class="section scrollspy myjustify"></app-begining></div>
        </li>
        <li>
          <div id="historique" contentsSection="historique" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            Historique
            <span class="badge">4</span>

          </div>
          <div class="collapsible-body"><app-historique id="app-historique_body"></app-historique></div>
        </li>
        <li>
          <div id="pourquoi-etudier-l-arn" contentsSection="pourquoi-etudier-l-arn" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            Pourquoi
            <span class="badge">4</span>

          </div>
          <div class="collapsible-body"><app-pourquoi-etudier-l-arn id="app-pourquoi-etudier-l-arn_body"></app-pourquoi-etudier-l-arn></div>
        </li>
        <li>
          <div id="definitions" contentsSection="definitions" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            Définition
            <span class="badge">4</span>

          </div>
          <div class="collapsible-body"><app-definitions id="app-definitions_body"></app-definitions></div>
        </li>
        <li>
          <div id="chapitre1-rnass" contentsSection="chapitre1-rnass" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            Chapitre 1 | RNASS
            <span class="badge">4</span>
          </div>
          <div class="collapsible-body"><app-chapitre1-rnass id="app-chapitre1-rnass_body"></app-chapitre1-rnass></div>
        </li>
        <li>
          <div id="figure" contentsSection="figure" class="collapsible-header">
            <i class="material-icons left">cloud</i>
            jpg
            <span class="badge">4</span>
          </div>
          <div class="collapsible-body"><app-figure name="phosphate"></app-figure></div>
        </li>
      </ul>
      <div class="divider"></div>

      <div class="col l2 hide-on-small-only">
        <ul class="contents-table tdm" contentsTable>
          <li><a href="#page_presentation" (click)="buttonClick('page_presentation')" contentsLink pageScroll [pageScrollOffset]="100" (pageScrollFinish)="doSmth($event)">Page de présentation</a></li>
          <li><a href="#resume-abstract" (click)="buttonClick('resume-abstract')" contentsLink pageScroll [pageScrollOffset]="100">Résumé/abstract</a></li>
          <li><a href="#avant-propos" (click)="buttonClick('avant-propos')" contentsLink pageScroll [pageScrollOffset]="100" >Avant-propos</a></li>
          <li><a href="#begining" (click)="buttonClick('begining')" contentsLink pageScroll [pageScrollOffset]="100">Introduction</a></li>
          <li><a href="#historique" (click)="buttonClick('historique')" contentsLink pageScroll [pageScrollOffset]="100">Historique</a></li>
          <li><a href="#pourquoi-etudier-l-arn" (click)="buttonClick('pourquoi-etudier-l-arn')" contentsLink pageScroll [pageScrollOffset]="100">Pourquoi étudier l'ARN</a></li>
          <li><a href="#definitions" (click)="buttonClick('definitions')" contentsLink pageScroll [pageScrollOffset]="100">Définitions</a></li>
          <li><a href="#chapitre1-rnass" (click)="buttonClick('chapitre1-rnass')" contentsLink pageScroll [pageScrollOffset]="100">Chapitre1 | RNASS</a></li>
          <li><a href="#figure" (click)="buttonClick('resume-abstract')" contentsLink pageScroll [pageScrollOffset]="100">Figure</a></li>
        </ul>
      </div>
  </div>
</div>
<app-footer></app-footer>
