<p-dataView #dv [value]="ncms$|async" [paginator]="true" [rows]="5" paginatorPosition="both" filterBy="brand"
            [sortField]="sortField" [sortOrder]="sortOrder">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Trier par" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-ncm pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-6" style="text-align:center">
        <app-graph-layout [_id]="ncm._id" [score]="ncm.scoreMoy"> </app-graph-layout>
      </div>
      <div class="ui-g-12 ui-md-8 ncm-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Id: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{ncm._id}}</b></div>

          <div class="ui-g-2 ui-sm-6">Écart type: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{ncm.stdDev}}</b></div>

          <div class="ui-g-2 ui-sm-6">Score moyen: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{ncm.scoreMoy}}</b></div>

          <div class="ui-g-2 ui-sm-6">Nombre d'occurence: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{ncm.count}}</b></div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3 search-icon">
        <p-button label="Détails" icon="fa fa-fw fa-search" (click)="selectNcm($event, ncm)"></p-button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <p-button label="Process" icon="fa fa-fw fa-check" (click)="processNcm($event, ncm)"></p-button>
      </div>
    </div>
  </ng-template>
  <ng-template let-ncm pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="ncm._id" [style]="{'text-align':'center'}">
        <app-graph-layout [_id]="ncm._id" [score]="ncm.scoreMoy"> </app-graph-layout>
        <div class="ncm-detail">{{ncm.scoreMoy}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <p-button label="Détails" icon="fa fa-fw fa-search" (click)="selectNcm($event, ncm)"></p-button>
        <p-button label="Process" icon="fa fa-fw fa-check" (click)="processNcm($event, ncm)"></p-button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>

<p-dialog header="NCM Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="400" (onAfterHide)="onDialogHide()">
  <div class="ui-g" *ngIf="selectedNcm">
    <div class="ui-g-12" style="text-align:center">
      <app-graph-layout [_id]="selectedNcm._id" [score]="selectedNcm.scoreMoy"> </app-graph-layout>
    </div>
    <div class="ui-g-4">Id: </div>
    <div class="ui-g-8">{{selectedNcm._id}}</div>

    <div class="ui-g-4">Écart type: </div>
    <div class="ui-g-8">{{selectedNcm.stdDev}}</div>

    <div class="ui-g-4">Score moyen: </div>
    <div class="ui-g-8">{{selectedNcm.scoreMoy}}</div>

    <div class="ui-g-4">Nombre d'occurence: </div>
    <div class="ui-g-8">{{selectedNcm.count}}</div>
  </div>
</p-dialog>
