<h5>
  Conclusion du chapitre 3

</h5>

<p>
  
  Le score de prédiction de RNASS performe mieux que les prédictions faites avec l’état pairé ou non des nt. Il se démarque par le fait qu’il peut prendre plus ou moins de risque dépendamment des besoins. Lorsqu’on combine les deux modèles ont augmente la performance des algorithmes, mais de peu. Cela indique qu’il faut chercher d’autres caractéristiques pour améliorer le modèle. Cependant, une aire sous la courbe de 0.924 est en soit une bonne valeur.
  Au fur et à mesure que d’autres données sur les ARN seront recueillies, ce score pourra être amélioré. En effet, pour certains MCN le nombre de nt. est trop bas pour emmètre de bon jugement. Les fichiers : MCN_communs.csv et MCN_mcff.csv, sont utiles pour identifier les MCN qui doivent être étudié plus en profondeur.
  La qualité des prédictions des SS est un élément crucial au fonctionnement de ces algorithmes, c’est pourquoi un fichier CSV comprenant les ARN avec leur niveau de cohérence accompagne ce mémoire.

</p>
